
define( 'DB_NAME', '{{ wordpress_db_name | default("defaultDbNAme") }}' );
define('DB_USER', '{{ wordpress_db_username | default("defaultDbUser") }}' );
define('DB_PASSWORD', '{{ wordpress_db_password | default("defaultDbPassword") }}' );
define('DB_HOST', '{{ wordpress_db_ip | default("defaultDbIP") }}' );